nodeRED/node-red/flows.json
[{"id":"c7e09dc4.4693d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"79f5d43d.70dafc","type":"mqtt in","z":"c7e09dc4.4693d","name":"Fan State In","topic":"single_switch_1/switch/sonoff_basic_relay/state","qos":"0","datatype":"auto","broker":"605d47e.74b5eb8","x":250,"y":440,"wires":[["1088896b.227e5f"]]},{"id":"df74487f.43e808","type":"ui_switch","z":"c7e09dc4.4693d","name":"fan switch","label":"","tooltip":"","group":"212430bc.07e2f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":440,"wires":[["1e919ff2.d7f9f"]]},{"id":"1088896b.227e5f","type":"function","z":"c7e09dc4.4693d","name":"Convert ESPHOME Switch In","func":"\nif (msg.payload === \"ON\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["df74487f.43e808"]]},{"id":"1e919ff2.d7f9f","type":"function","z":"c7e09dc4.4693d","name":"Convert ESPHOME Switch Out","func":"if (msg.payload === true) {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":925,"y":441,"wires":[["456b352e.beb7fc"]]},{"id":"456b352e.beb7fc","type":"mqtt out","z":"c7e09dc4.4693d","name":"Fan State Out","topic":"single_switch_1/switch/sonoff_basic_relay/command","qos":"","retain":"","broker":"605d47e.74b5eb8","x":1200,"y":440,"wires":[]},{"id":"f68f1fc6.45dcd8","type":"mqtt in","z":"c7e09dc4.4693d","name":"Living Room Lights In","topic":"living_room/switch/living_room_lights/state","qos":"0","datatype":"auto","broker":"605d47e.74b5eb8","x":220,"y":500,"wires":[["d05835b5.5f7d"]]},{"id":"d05835b5.5f7d","type":"function","z":"c7e09dc4.4693d","name":"Convert ESPHOME Switch In","func":"\nif (msg.payload === \"ON\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":500,"wires":[["b929db73.e854f8"]]},{"id":"336344e9.d3bdcc","type":"function","z":"c7e09dc4.4693d","name":"Convert ESPHOME Switch Out","func":"if (msg.payload === true) {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":500,"wires":[["405940a4.1d6f18"]]},{"id":"405940a4.1d6f18","type":"mqtt out","z":"c7e09dc4.4693d","name":"Living Room State Out","topic":"living_room/switch/living_room_lights/command","qos":"","retain":"","broker":"605d47e.74b5eb8","x":1260,"y":500,"wires":[]},{"id":"b929db73.e854f8","type":"ui_switch","z":"c7e09dc4.4693d","name":"Lights switch","label":"","tooltip":"","group":"e44220e2.94ef5","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":500,"wires":[["336344e9.d3bdcc"]]},{"id":"605d47e.74b5eb8","type":"mqtt-broker","z":"","name":"HomeNodeServerMQTTBroker","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"212430bc.07e2f","type":"ui_group","z":"","name":"Fan","tab":"cad899cb.ed3ff","order":2,"disp":true,"width":"6","collapse":false},{"id":"e44220e2.94ef5","type":"ui_group","z":"","name":"Lights","tab":"cad899cb.ed3ff","order":1,"disp":true,"width":"6","collapse":false},{"id":"cad899cb.ed3ff","type":"ui_tab","z":"","name":"Living Room","icon":"dashboard","disabled":false,"hidden":false}]